* {
    margin: 0;
    padding: 0;
  }
h1 {
    margin-top: 30px;
    margin-bottom: 20px;
}
html, body {
    margin: 0;
    /* We use apostrophes here because there is a space */
    font-family: 'Kumbh Sans', sans-serif;
}
p {
    margin-top: 5px;
    font-weight: 400;
    font-size: 12px;
    transition: max-height 0.50s ease-in-out;
    color: hsl(238, 29%, 16%);

}
/* p::-webkit-scrollbar{
    display: none;
} */
ul{
    margin-right: 30px;
    list-style: none;
}
li {
    margin-bottom: 20px;
    cursor: pointer;

}
li:hover {
    color: hsl(14, 88%, 65%);
    transition: color 0.2s
}
.question {
    display: flex;
}
hr {
    margin-top: 15px;
}

.question-text {
    flex-grow: 1;
}
.question img {
    margin-top: 0.4vh;
    /* max-width: 25px;
    max-height: 20px; */
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background-panel {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(273, 78%, 59%));
    display: flex;
    height: 75%;
    width: 75%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    position: absolute;
}
.popout-card {
    border-radius: 5%;
    width: 70%;
    height: 70%;
    display: flex;
    background-color: white;
}
.faq {
    width: 50%;
}
#img-container {
    width: 50%;
    height: 100%;
    background-image: url("images/bg-pattern-desktop.svg");
    background-size: 100% 100%;
}
#img-container img {
    height: 100%;
    width: 100%;
}

#card-left-bg-img{
    object-fit: fill;
}

.switch-arrow {
    transform: rotate(180deg);
}

.bold-text {
    font-weight: bold;
}
#box {
    transform: scale(0.65);
    position: absolute;
    top: 45%;
    left: 11%;
}

.expanded {
    display: block;
    overflow: hidden;

}
.shrunk {
    overflow: hidden;
    max-height: 0;
}